{% extends './base.html' %}

{% load static %}

{% block title %}Inicio De Sesion{% endblock %}

{% block body %}

<div class="container mb-5">
    <h1 id="titleLogin" class="text-center mb-5 mt-5">Bienvenido , Inicia Sesion Aqui </h1>
    <form action="" method="post"> {% csrf_token %}
        <div class="col mt-5">
            <div class="row md-6">
                <label  id="txtNameUser" for="username" >Nombre de Usuario:</label>
                <input name="username" type="text" id="txtNombre" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="row md-6">
                <label  id="txtPassUser" for="password" >Contraseña:</label>
                <input name="password" type="password" id="txtPass" class="form-control">
                <a  id="linkReg" href="/register">No tienes cuenta, registrate aqui</a>
            </div>
        </div>
       <div class="d-grid gap-2 col-6 mx-auto p-5">
        <button id="btnLogin"  href="/" type="submit"  class="btn btn-primary--bs-dark-text-emphasis mt-5 mb-3"> Iniciar Sesion </button>
        <a  id="btnLogin" href="/" class="btn btn-primary--bs-dark-text-emphasis mt-5 mb-5"> Volver al inicio</a>
       </div> 
    
      
    </form>
</div>
{% endblock %}