body.dark{
    background-color: #191919;
  }
  
  body.dark nav{
    background-color: #71115a
  }
  
  
  body.dark  footer .contenedorFooter{
    background-color: #71115a;
  }

  body.dark nav .nav-link{
    color:white;
  }

  body.dark nav .nav-link:hover{
    color:#ae3dff;
  }

  body.dark  footer .contenedorFooter .miniBox a{
    color:white;
  }
  
  body.dark  footer .contenedorFooter .miniBox h3{
    color:white;
  }

  
  body.dark  footer .contenedorFooter .miniBox h3:hover{
    color:#ae3dff;
  }
  body.dark  footer .contenedorFooter .boxFooter h3{
    color:white;
  }
  body.dark  footer .contenedorFooter .boxFooter2 h3{
    color:white;
  }

  body.dark  footer .contenedorFooter .boxFooter2 h1{
    color:white;
  }

  body.dark  footer .contenedorFooter .boxFooter h1{
    color:white;
  }

  body.dark .card-body{
    background-color:  #3E065F;
    color:white;
  }
  body.dark #btn1{
    background-color: #71115a;
    color:white;
  }

  body.dark #btn1:hover{
    color:#ae3dff;
  }

  body.dark #btn_carrito{
background-color: #3E065F;
color: white;
  }
  body.dark #btn_carrito:hover{
  color: #ae3dff;
  }
  
 body.dark #btn2{
  background-color:  #71115a;
  color: white;
 }
 body.dark #btn2:hover{
  color: #ae3dff;
 }

 body.dark #id_cardtitle{
  background-color: #3E065F;
 }

 body.dark #id_cardtext{
  background-color: #3E065F;
 }

 body.dark #tituloForm{
  color: white;
 }

 body.dark #tabla_prod{
  color:white
 }

 body.dark #btnEditar{
  background-color: #3E065F;
  color: white;
 }

 body.dark #btnEliminar{
  color: white;
 }

 body.dark #btnEditar:hover{
  color: #ae3dff;
 }

 body.dark #btnEliminar:hover{
  color: #ae3dff;
 }

 body.dark nav .dropdown-menu{
  background-color:  #71115a;
  color: white;
 }

 body.dark nav .dropdown-item:hover{
  background-color:#71115a;
  color:  #ae3dff;
 }

 body.dark nav .dropdown-item{
  color: white;
 }

 body.dark .offcanvas-header{
  background-color: #3E065F;
  color:white;

 }

 body.dark .offcanvas-body{
  background-color: #191919;
 }

 body.dark #btn5{
  background-color: #3E065F;
  color: white;
 }
 
 body.dark .modal-content{
  background-color: #3E065F;
 }
 body.dark .modal-header{
  background-color: #3E065F;
  color:white;
 }

 body.dark .modal-body{
  background-color: #191919;
  color:white;
 }

 body.dark #btn_modal1{
  background-color:#71115a;
  color:white;
 }

 body.dark #btn_modal2{
  background-color:#71115a;
  color:white;
 }

 body.dark #btn_modal1:hover{
  
  color:#ae3dff;
 }

 body.dark #btn_modal2:hover{
  
  color:#ae3dff;
 }

 body.dark #img_about{
  background-color:#3E065F;
 }

 body.dark #btnAgregar{

  background-color: #1b7549;
  color: white;
 }

 body.dark #btnAgregar:hover{
  color:#ae3dff;
 }

 body.dark #btnVolver{
  color: white;
  background-color:#3E065F;
 }
 body.dark #btnVolver:hover{
  color:#ae3dff;
 }

 body.dark .reloj{

  color: white;
 }
body.dark .fecha{
  color: white;
}

body.dark #txtTitulo{
 color: white;
}

body.dark #label2{
  color: white;
}

body.dark #cuidad{

  color:white;
}

