#btn_carrito{

  display: flex;
  align-items: center;
  background-color: white;
}
.material-icons{
  font-size: 10px;
  color: #e79eff;
}
.navbar-brand img{

width: 170px;
height: 100px;
}

.bg-miColor{
  background-color: #fdcae1;
}
