{% extends "./base.html" %}


{% load static %}
{% block title %} Zona de accesorios de oficina {% endblock %}
{% block body%}

  <div class="container mt-5 mb-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for a in cat_acc %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{a.img_prod.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5  id="titulo_prod" class="card-title">{{a.nombre_prod}}</h5>
            <p  id="card_btext" class="card-text">Precio: ${{a.precio_prod}}</p>
            <a id="btn2"href="#" class="btn btn-primary--bs-dark-text-emphasis"data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="material-icons">add_shopping_cart</i>
              Añadir al carrito
            </a>


            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title text-center" id="exampleModalLabel">Informacion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Producto Agregado Correctamente a su carrito de compra
                  </div>
                  <div class="modal-footer">
                    <a  id="btn2" href="{% url 'Add' a.id_prod %}" class="btn btn-primary--bs-dark-text-emphasis">Aceptar</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>







 
  


{% endblock %}
 