{% extends "./base.html" %}

{% load static %}
{% block title %} Agregar Productos {% endblock %}
{% block body %}

        
<div class="container">
  <h2 id="txtTitulo" class="mb-5 mt-5 text-center" novalidate>Agregar Productos</h2>

  <form   id="formAgregarProducto" action="/agregar_productos" method="POST" enctype="multipart/form-data" novalidate> {% csrf_token %}
    <div class="row">
      <div class="col-md-8">
        <label id="txtSku" for="txtId_prod">Ingrese el SKU del producto:</label>
        <input  name="txtId_prod" id="txtId_prod" type="text" class="form-control" required>
        <!-- <small id="valSku">Debe ingresar el SKU del producto</small> -->
        <div  class="invalid-feedback" >
          Debe ingresar el SKU del producto
        </div>
      </div>

      <div class="col-md-4">
        <label id="txtProd" for="txtNom_prod">Ingrese el Nombre Producto:</label>
        <input  name="txtNom_prod" id="txtNom_prod" type="text" class="form-control" required>
        <!-- <small id="valProd">Debe ingresar el Nombre del Producto</small> -->

        <div  class="invalid-feedback">
          Debe ingresar el Nombre del Producto
        </div>
      </div>
      
      <div class="col-md-4">
        <label  id="txtCat" for="cbxCat">Categoria Producto:</label>
        <select name="cbxCat" class="form-select " aria-label="Default select example"  required >
          <option disabled selected value="">Seleccione la categoria</option>
          {% for cbx in cat %}
          <option value="{{cbx.id_cat}}">{{cbx.nombre_cat}}</option>
          {% endfor %}
        </select>
      </div>

     
      <div class="col-md-4">
        <label id="txtCant" for="txtCant_prod">Ingrese la cantidad del producto:</label>
        <input  name="txtCant_prod" id="txtCant_prod" type="text" class="form-control" required>
        <!-- <small id="valCant">Debe ingresar la cantidad del producto</small> -->

        <div  class="invalid-feedback">
          Debe ingresar la cantidad  del Producto 
        </div>
      </div>
      
      
      <div class="col-md-4">
        <label id="txtPrecio"  for="txtprod_Precio">Ingrese el Precio del producto:</label>
        <input  name="txtprod_Precio" id="txtprod_Precio" type="text" class="form-control" required>
        <!-- <small id="valPrecio">Debe ingresar el precio del producto</small> -->

        <div  class="invalid-feedback">
          Debe ingresar el precio  del Producto 
        </div>
      </div>
      
      <div class="col-md-12">
        <label id="txtUpload" for="img_Upload">Seleccione su imagen:</label>
        <input name="img_Upload" accept="image/*" id="img_Upload" type="file" class="form-control" required>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto p-5">
      <button  id="toastTrigger" type="submit" class="btn btn-success--bs-dark-text-emphasis mt-3 mb-3">Agregar producto</button>
      <a  id="btnLogin" href="/inventario" class="btn btn-primary--bs-dark-text-emphasis mt-5 mb-2"> Volver a la lista de productos</a>
    </div>
    

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="toastAlert" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <i class="material-icons">info</i>
          <strong class="me-auto">Informacion</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Debes Rellenar todos los campos 
        </div>
      </div>
    </div>
  </form>
</div>






    
{% endblock %}

{% block script %}
<script src="{% static '/js/validarForm.js' %}"></script>
{% endblock %}
    
