



{% extends "./base.html" %}

{% load static %}
         
        
{% block title %} Inventario de Productos{% endblock %}       
       
     
 {% block body %}

  
  
    
    
    <div class="container mt-5">
      <table  id="tabla_prod" class="table">
        <thead>
          <tr>
            <th scope="col">SKU o ID del Producto:</th>
            <th scope="col">Imagen del producto:</th>
            <th scope="col">Nombre del Producto:</th>
            <th scope="col">Categoria Producto:</th>
            <th scope="col">Stock:</th>
            <th scope="col">Opciones:</th>
          </tr>
        </thead>
        <tbody>
          {% for p in product %}
          <tr>
            <th scope="row">{{p.id_prod}}</th>
            <td><img src="{{p.img_prod.url}}" height="50"></td>
            <td>{{p.nombre_prod}}</td>
            <td>{{p.id_cat}}</td>
            <td>{{p.stock_prod}}</td>
            <td class="d-flex justify-content-between"> 
              <a  id="btnEditarProd" href="/editarProd/{{p.id_prod}}" class=" btn btn-primary--bs-dark-text-emphasis mx-3">Editar</button>
                <a id="btnEliminarProd" href="/eliminarProd/{{p.id_prod}}" class="btn btn-danger--bs-dark-text-emphasis">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  
  

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title text-center" id="exampleModalLabel">Alerta</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿ Seguro que desea Eliminar este producto de la lista ?
          </div>
          <div class="modal-footer">
            <button id="btn_modal1" type="button" class="btn btn-secondary--bs-dark-text-emphasis" data-bs-dismiss="modal">Volver</button>
            <button onclick="eliminar()" id="btnEliminar2" type="button" class="btn btn-primary--bs-dark-text-emphasis" data-bs-dismiss="modal">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}




