{% extends "./base.html" %}

{% load static %}

{% block body %}
  <div class="container mt-5 mb-5">
    <div id="img_about" class="card mb-3 mt-3" style="max-width: 1500px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'img/Logo5.png' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 id="id_cardtitle" class="card-title">PaperCute</h5>
            <p id="id_cardtext" class="card-text">Somos un grupo grupo de tres amigos que comenzamos una pyme
              vendiendo cartulinas los domingos por la noche vía Whatsapp. Con el pasar del tiempo fuimos agregando más
              productos
              a nuestra lista hasta llegar a lo que somos hoy. Una tiendita online dedicada a la venta de artículos
              escolares y de oficina.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}










 
